body{
  text-align: center;
  font-family: Arial;
  background-color: white;
  color: #003655;
  margin:0;
  padding:0;
  /*margin-bottom: 5%;*/
}

a{
  color: #003655;
}

a:hover{
  color: #8dc741;
}

img{
  width: 80%;
  margin-top: 5%;
  /*border: 2px solid #003655;*/
}

.title {
  color: white;
  background-color: #d3114d !important;
  padding: 1%;
  font-size: 1.2vw;
  margin-top: 0;
  position: relative;
}

.title h1{
  width: 80%;
  display: inline;
}

.rolling-amount{
  color: #003655;
  font-size: 4vw;
}

.with-12-mil{
  color: #d3114d;
  font-size: 6vw;
}

.since{
  color: #003655;
  font-size: 2vw;
}

.text-amount{
  margin-left:auto;
  margin-right:auto;
  width: 90%;
  text-align: top;
}

.t-a-text{
  width: 25%;
  font-size: 3vw;
  color: #003655;
}

.dollar-amount{
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  width: 25%;
  font-size: 3vw;
}

.faq-ul{
  color: #003655;
  list-style: none;
  padding-bottom: 6vw;
  padding-left: 6vw;
  padding-right: 6vw;
  text-align: left;
  font-size: 1.5vw;
  padding-top: 2vw;
}

.faq{
  text-align: center;
}

footer{
  color: white;
  background-color: #d3114d !important;
  padding: 1%;
  font-size: 1.2vw;
  margin-top: 0;
  position: relative;
}

footer a{
  color: white;
}

.call-mayor{
  background-color: #8dc741;
  padding: 2vw;
  font-size: 2.5vw;
}

.time-trip{
  color: white;
  background-color: #003655;
  margin: 0 auto;
  font-family:Arial;
  font-weight:bold;
  cursor:pointer;
  margin-top: 2.5vw;
  margin-bottom: 2.5vw;
  font-size: 2vw;
  width: 40%;
  padding: 2%;
  border-radius: 25px;
}

.time-trip:hover {
  color: #8dc741;
}

.update{
  color: #d3114d;
}
.update a{
  color: #d3114d;
}
.update a:hover{
  color: #003655;
}
.bullet-list{
  list-style-type: circle;
  width: 90%;
  font-size: 80%;
}
.bullet-list li{
  padding: 3px;
}


@media only screen and (max-width: 550px) {

  .title {
    padding: 1%;
    font-size: 2vw;
    margin-top: 0;
    position: relative;
  }

  .rolling-amount{
    font-size: 3vh;
    color: #003655;
  }

  .with-12-mil{
    color: #d3114d;
    font-size: 6vh;
  }

  .since{
    font-size: 4.5vw;
  }

  .text-amount{
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    text-align: top;
  }

  .t-a-text{
    width: 25%;
    font-size: 3vw;
  }

  .dollar-amount{
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    width: 25%;
    font-size: 4vw;
  }

  .faq-ul{
    list-style: none;
    padding: 6vw;
    text-align: left;
    font-size: 3vw;
  }
}